@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.nav-hover {
  @apply hover:text-gray-500
         hover:font-bold
         hover:underline
         transition-colors
         hover:underline-offset-4;
}

@layer components {
  .mobile-link {
    @apply text-white font-bold transition-colors;
  }
  .mobile-link:hover {
    @apply text-black;
    @apply underline;
    @apply underline-offset-4;
  }
}

@layer components {
  @keyframes fadeUp {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
  }

  .fade-up {
    opacity: 0;
    animation: fadeUp 0.8s ease-out forwards;
  }
  /* second line delay */
  .fade-up.delay-1 {
    animation-delay: 0.3s;
  }
}
